In [37]:
from bs4 import BeautifulSoup
import requests, openpyxl

In [38]:
excel=openpyxl.Workbook()

In [39]:
sheet=excel.active

In [40]:
sheet.title="Top Rated Movies on IMDB"

In [41]:
print(excel.sheetnames)

['Top Rated Movies on IMDB']

In [42]:
sheet.append(["Rank","Name","Year","Rating"])

In [43]:
source = requests.get('https://www.imdb.com/chart/top/')

In [44]:
source.raise_for_status()#if url is invalid

In [45]:
soup = BeautifulSoup(source.text,'html.parser')

In [46]:
movies = soup.find('tbody',class_="lister-list").find_all('tr')

In [ ]:
#print(len(movies))

In [ ]:
for movie in movies:
  name = movie.find('td',class_="titleColumn").a.text
  rank = movie.find('td',class_="titleColumn").get_text(strip=True).split('.')[0]#strips all spaces n newline characters and prints in single line
  year = movie.find('td',class_="titleColumn").span.text.strip('()')
  rating = movie.find('td',class_="ratingColumn imdbRating").strong.text
  print(rank,name,year,rating)
  sheet.append([rank,name,year,rating])

In [48]:
excel.save("Imdb Movie Ratings.xlsx")